.navbar {
    background-color: #003371;
    color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 40px; /* Adjust as needed */
  width: auto;
  margin-right: 10px; /* Space between logo and text */
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 20px; /* Space between title and links */
}

.navbar-list li {
  margin-right: 20px;
}

.navbar-list a {
  color: white;
  text-decoration: none;
}