/* Centers the FAQ dropdown container */
.faq-dropdown {
  text-align: center;
}

/* Adds spacing between each FAQ item */
.faq-item {
  margin-bottom: 15px;
  margin-top: 20px;
}

/* Styles for the FAQ question */
.faq-question {
  color: #0070AC;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}

/* Styles for the FAQ answer */
.faq-answer {
  padding: 10px;
  border-left: 3px solid #0070AC;
  font-size: 1rem;
  margin-top: 5px;
}
