/* General container styling */
.categories-search {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #D6E2E8;
  width: 30%; 
}

/* Styling for the search bar */
.search-bar {
  margin-bottom: 16px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Styling for the categories header */
.categories h3 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #27487f;
  font-size: 30px;
  text-align: center;
  /* Removed border-bottom to eliminate underline */
}

/* Styling for the list of buttons */
.categories ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.categories ul li {
  margin-bottom: 8px; /* Adds spacing between items */
}

/* Category buttons */
.category-button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  padding: 4px;
  border-radius: 4px;
}

.category-button.selected {
  font-weight: bold;
  text-decoration: none;
  color: #27487f;
  background-color: #91C1D8; /* Light blue background for selected category */
}

.category-button:hover {
  color: #27487f;
  background-color:#91C1D8; /* Slight hover effect */
}

/* Ensure buttons don't appear inline */
.categories ul li {
  display: block;
}

.category-button {
  color: #27487f;
}
